.crypto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0 0;
    flex-direction: column;

    @include media (md) {
        flex-direction: unset;
    }

    &_marketplace {
        border-radius: 16px;
        border: 2px solid #E4E4E4;
        width: 100%;
        margin: 0 0 24px 0;

        @include media (md) {
            margin: 0 24px 0 0;
            max-width: 588px;
            padding: 24px 32px;
        }

        &_tabs {
            display: flex;
            align-items: center;
            border-radius: 8px;
            background: var(--f-5-f-5-fa-primary, #F5F5FA);
            padding: 14px;

            @include media (md) {
                margin: 0 0 24px 0;
                justify-content: space-around;
                padding: 9px 61px;
            }

            &_buy {
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 21px;
                color: var(--8083-a-3, #8083A3);
                padding: 5px 50px;
                cursor: pointer;
            }

            &_sell {
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 21px;
                color: var(--8083-a-3, #8083A3);
                padding: 5px 50px;
                cursor: pointer;
            }

            .active {
                color: #2579B8;
                border-bottom: 2px solid #2579B8;
            }
        }

        &_buy {
            &_dropdowns {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #D8D8D8;
                padding: 20px;
                gap: 20px;

                @include media (md) {
                    flex-direction: row;
                    gap: unset;
                    justify-content: space-between;
                    padding: 0 0 20px 0;
                }

                &_coin {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-right: 24px;

                    .coin-amount {
                        display: flex;
                    }

                    label {
                        color: #000;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 100%;
                        margin: 0 0 8px 0;
                        padding: 0 0 0 24px;
                    }

                    select {
                        width: 100%;
                        padding: 13px 10px;
                        border-radius: 100px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        border: 1px solid #C1C1C1;
                        background: #FFF;
                        margin: 0 0 16px 0;
                    }

                    input#coin-amount {
                        padding: 13px 24px;
                        border-radius: 100px;
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                        border: 1px solid #C1C1C1;
                        background: #FFF;
                        width: 100%;
                        margin: 0 0 16px 0;
                        border-left: unset;
                    }

                    .fee {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 24px;

                        &_title {
                            color: #171717;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                        &_price {
                            color: #171717;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }

                }

                &_amount {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    label {
                        color: #000;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 100%;
                        margin: 0 0 8px 0;
                        padding: 0 0 0 24px;
                    }

                    .amount_inputs {
                        display: flex;

                        input {
                            padding: 13px 24px;
                            border-radius: 100px;
                            border-bottom-right-radius: 0;
                            border-top-right-radius: 0;
                            border: 1px solid #C1C1C1;
                            background: #FFF;
                            width: 100%;
                            margin: 0 0 16px 0;
                            border-right: unset;
                        }

                        select {
                            padding: 13px 10px;
                            border-radius: 100px;
                            border-bottom-left-radius: 0;
                            border-top-left-radius: 0;
                            border: 1px solid #C1C1C1;
                            background: #FFF;
                            margin: 0 0 16px 0;
                            border-left: unset;
                        }
                    }


                    .fee {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 24px;

                        &_title {
                            color: #171717;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                        &_price {
                            color: #171717;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                }
            }

            &_price {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;

                @include media (md) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 16px 24px 0 24px;

                }

                &_total {
                    &_title {
                        color: #171717;
                        text-align: right;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    &_amount {
                        color: #171717;
                        text-align: right;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

            }
        }
    }


    &_prices {
        border-radius: 16px;
        border: 2px solid #E4E4E4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 15px;
        gap: 20px;

        @include media (md) {
            gap: unset;
            max-width: 588px;
            padding: 22px 24px;
        }

        &_info {
            display: flex;

            img {
                height: 40px;
                width: 40px;
            }

            &_title {
                display: flex;
                flex-direction: column;
                margin: 0 0 0 16px;

                .shortcode {
                    color: #171717;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }

        &_value {
            &_title {
                color: #171717;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        &_change {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media (md) {
                flex-direction: row;

            }

            &_title {
                color: #171717;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            img {
                width: 16;
                height: 16;
                margin: 0px 8px;
            }
        }
    }

    .crypto_items {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include media (md) {
            width: 100%;
        }
    }
}

.crypto_marketplace_buy,
.crypto_marketplace_sell {
    display: none;
}

.crypto_marketplace_buy.active,
.crypto_marketplace_sell.active {
    display: block;
}

.crypto_marketplace_tabs_buy.active,
.crypto_marketplace_tabs_sell.active {
    /* Add styles for active state, like a different background or text color */
}