.faq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.faq-item {
    padding: 24px;
    border-radius: 24px;
    background: #F1F1F1;
    margin-bottom: 16px;
    overflow: hidden;
    width: -webkit-fill-available;
    
    @include media ( md ) {
        max-width: 792px;
    }
  }
  
  .faq-question {
    cursor: pointer;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .faq-item.open .faq-answer {
    max-height: 200px; 
    padding: 23px 0;
  }
  
  .toggle-symbol {
    float: right;
  }
  