.review_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    @include media ( md ) {
        flex-direction: unset;
    }

    &_base{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &_title{
            color: #171717;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0 0 16px 0;
        }
        &_description{
            color: #171717;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin: 0 0 24px 0;
        }
    }
    &_image{
        img{
            width: 100%;
            height: 440px;
            @include media ( md ) {
                width: 512px;
            }
        }
    }
}